# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# ML / Data
data/
data
*.txt
datasets/
processed/
*.csv
*.jsonl
graphs!/
run_model.py

# Environment variables
.env

# models
models/
model_dir

test.rest